* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-weight: lighter;
    list-style: none;
}

:root {
    --primary-color: #9A8A78;
    --secondry-color: rgba(38, 38, 38, 1);
    --text-color: white;
    --margin-top: 50px;
}

html {
    font-size: 62.5%;
    color: var(--text-color);
}


.header {
    top: 0;
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 33px;

    h1 {
        font-size: 1.8rem;

    }

    ul {

        display: flex;
        align-items: center;

        li {
            margin-right: 30px;
            height: 50px;
            font-size: 1.4rem;
            text-align: center;
            line-height: 50px;

            a {
                color: var(--text-color);
                text-decoration: none;
            }

            & .tel {
                padding: 10px 20px;
                border: 1px solid var(--text-color);
            }
        }
    }

}



.mainvisual {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("./images/visual.png");
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {

        font-size: 6rem;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 3rem;
    }
}

.background {
    padding: 0 80px;
    background-color: var(--secondry-color);

}

.service {
    margin-top: var(--margin-top);
    display: flex;
    width: 100%;
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    height: 702px;

    div {
        border-right: 1px solid var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
        width: 50%;
        height: 100%;
    }

    & .text {
        padding-top: 180px;
        padding-left: 80px;

        h1 {
            font-size: 4rem;
        }

        ul {
            margin-top: 26px;
            padding-left: 20px;

            li {
                font-size: 1.6rem;
                line-height: 32px;
            }
        }

        button {
            margin-top: 44px;
            font-size: 1.4rem;

            width: 240px;
            height: 60px;
            background-color: var(--primary-color);
            color: black;

        }
    }

    & .img {

        background-position: center;
        background-size: cover;
        background-image: url("./images/service.png");

    }
}

.features {
    display: flex;
    width: 100%;
    height: 289px;
    border-left: 1px solid var(--primary-color);

    div {
        border-bottom: 1px solid var(--primary-color);
        border-right: 1px solid var(--primary-color);
        width: 25%;
        height: 100%;
        text-align: center;

        &.icon {
            margin: 73px auto 32px auto;
            border: none;
            width: 60px;
            height: 60px;
            background-position: center;
            background-size: cover;
            background-image: url("./images/icon.png");
        }

        p {
            font-size: 1.8rem;

        }
    }
}

.campany {
    display: flex;
    width: 100%;
    height: 653px;


    h1 {
        font-size: 4rem;
    }

    h2 {
        color: var(--primary-color);
        margin-top: 40px;
        font-size: 3rem;
    }

    p {
        width: 432px;
        margin-top: 41px;
        font-size: 1.6rem;
    }

    div {
        padding-left: 85px;
        padding-top: 135px;
        width: 617px;
        height: 100%;
        border-left: 1px solid var(--primary-color);
        border-bottom: 1px solid var(--primary-color);

    }

    & .img {
        width: 619px;
        height: 651px;
        background-position: center;
        background-size: cover;
        background-image: url("./images/campany.png");
    }
}

.case {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-top: 125px;
        text-align: center;

        font-size: 4rem;
    }

    div {
        margin-top: 23px;
        padding-top: 31px;
        width: 100%;
        height: 493px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;

        & .img1 {
            width: 211px;
            height: 261px;
            background-position: center;
            background-size: cover;
            background-image: url("./images/link001.png");
        }

        & .img2 {
            width: 211px;
            height: 141px;
            background-position: center;
            background-size: cover;
            background-image: url("./images/link002.png");
        }

        & .img3 {
            width: 203px;
            height: 176px;
            background-position: center;
            background-size: cover;
            background-image: url("./images/link003.png");
        }

        & .img4 {
            width: 203px;
            height: 226px;
            background-position: center;
            background-size: cover;
            background-image: url("./images/link004.png");
        }

        & .img5 {
            width: 706px;
            height: 462px;
            background-position: center;
            background-size: cover;
            background-image: url("./images/link005.png");
        }
    }

    button {
        
        margin: 49px 0 109px 0;
        width: 240px;
        height: 60px;
        background-color: var(--primary-color);
        color: black;
    }



}

.voice {
    width: 100%;
    height: 439px;
    display: flex;
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);

    div {
        width: 25%;
        border-bottom: 1px solid var(--primary-color);
        border-right: 1px solid var(--primary-color);

        h1 {
            margin-top: 196px;
            margin-left: 33px;
            font-size: 4rem;
        }

        h2 {
            margin-left: 43px;
            margin-top: 35px;
            font-size: 3rem;
            color: var(--primary-color);
        }

        p {
            width: 208px;
            height: 188px;
            margin-top: 87px;
            margin-left: 43px;
            font-size: 1.6rem;
            line-height: 28.8px;
        }
    }

    div:nth-of-type(1) {
        background-color: var(--primary-color);
        color: white;
    }
}

.footer {
    margin-top: 89px;
    display: flex;
    color: var(--primary-color);

    & .inquiry {
        width: 507px;
        height: 655px;
        padding-left: 18px;

        h1 {
            font-size: 4rem;
        }

        div {
            display: flex;
            margin-top: 34px;

            & .icon {
                margin: auto 0;
                width: 30px;
                height: 30px;
                margin-right: 26px;
                background-position: center;
                background-size: cover;
                background-image: url("./images/icon.png");
            }

            p {
                margin: 0;
                font-size: 1.6rem;
            }

        }

        p {
            margin-top: 46px;
            font-size: 1.4rem;
        }

    }

    & .form {
        width: 377px;
        height: 380px;
        margin-right: 196px;
        input{
            width: 100%;
            margin-bottom: 18px;
            border: none;
            background-color: var(--secondry-color);
            height: 45px;
            border-bottom: 1px solid var(--primary-color);
        }
        label {
            font-size: 1.6rem;
        }

        & .flex {
            display: flex;
            justify-content: space-between;
            div{
                width: 182px;
            }
        }

        & .button {
            border: 1px solid var(--primary-color);
            width: 377px;
            height: 45px;
            color: var(--primary-color);
            background-color: var(--secondry-color);
        }
    }

    & .nav {
        width: 158px;
        height: 655px;
        padding: 103px 0 0 23px;

        ul {
            font-size: 1.4rem;

            li {
                font-size: 1.4rem;
                line-height: 30px;
            }
        }

        button {
            margin-top: 60px;
            width: 129px;
            height: 40px;
            background-color: var(--primary-color);
            color: black;
        }
    }
}

.snslink {
    position: fixed;
    left: 2%;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    a {
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        background-image: url("./images/icon.png");
    }
}